@{
    ViewData["Title"] = "Erişim Engellendi!";
}

<div class="container">
    <div class="alert alert-danger">
        <h3>Erişim Yetkiniz bulunmamaktadır!</h3>
    </div>
    <div>
        <a class="btn btn-warning" href="/admin/">Geri Dön</a>
    </div>
</div>

